name: Push Linux

on: 
  push:
    branches:
      - dev/linux

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - name: Install system dependencies
        run: |
          dnf install -y python3.13 python3.13-devel gcc gcc-c++ tk-devel tesseract-devel python3-pip git tar gzip patchelf wget mesa-libGL libX11

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python3.13 -m ensurepip
          python3.13 -m pip install --upgrade pip
          python3.13 -m pip install -r requirements.txt

      - name: Setup clang
        run: |
          wget https://github.com/Moon-Playground/tc-build/releases/download/21.1.8-2078da43e/Mayuri-clang_21.1.8-fedora43-x86_64-2078da43e.tar.xz
          tar -xvf Mayuri-clang_21.1.8-fedora43-x86_64-2078da43e.tar.xz -C /usr/local

      - name: Setup Nuitka
        run: |
          python3.13 -m pip install -U "https://github.com/Nuitka/Nuitka/archive/main.zip"
          python3.13 -m pip install zstandard

      - name: Build
        run: |
          mkdir -p build
          CC=/usr/local/bin/clang CXX=/usr/local/bin/clang++ LDFLAGS="-fuse-ld=lld" \
          python3.13 -m nuitka \
            --onefile \
            --lto=yes \
            --enable-plugin=tk-inter \
            --include-data-dir=angler/res=res \
            --output-dir=build \
            --output-filename=angler-debug \
            angler

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: angler
          path: build/angler-debug
