name: Release Linux

on:
    workflow_dispatch:
        inputs:
            tag_name:
                required: true
            pre_release:
                required: false
                default: 'false'

jobs:
    release:
      permissions:
        contents: write
      runs-on: ubuntu-latest
      container:
        image: debian:bookworm
      steps:
        - name: Install system dependencies
          run: |
            apt update && apt install -y gcc tk-dev tesseract-ocr git tar gzip patchelf wget libgl1-mesa-dev libx11-dev

        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup clang
          run: |
            wget https://github.com/Moon-Playground/tc-build/releases/download/21.1.8-2078da43e/Mayuri-clang_21.1.8-bookworm-x86_64-2078da43e.tar.xz
            tar -xvf Mayuri-clang_21.1.8-bookworm-x86_64-2078da43e.tar.xz -C /usr/local

        - name: Setup python
          run: |
            wget https://github.com/Moon-Playground/Python-builder/releases/download/python-v3.13.11/python-3.13.11-debian-bookworm-x86_64.deb
            dpkg -i python-3.13.11-debian-bookworm-x86_64.deb

        - name: Install dependencies
          run: |
            /opt/python3.13/bin/python3.13 -m ensurepip
            /opt/python3.13/bin/python3.13 -m pip install --upgrade pip
            CC=/usr/local/bin/clang CXX=/usr/local/bin/clang++ \
            /opt/python3.13/bin/python3.13 -m pip install -r requirements.txt

        - name: Setup Nuitka
          run: |
            /opt/python3.13/bin/python3.13 -m pip install -U "https://github.com/Nuitka/Nuitka/archive/main.zip"
            /opt/python3.13/bin/python3.13 -m pip install zstandard

        - name: Build
          run: |
            mkdir -p build
            CC=/usr/local/bin/clang CXX=/usr/local/bin/clang++ LDFLAGS="-fuse-ld=lld" \
            /opt/python3.13/bin/python3.13 -m nuitka \
              --onefile \
              --lto=yes \
              --enable-plugin=tk-inter \
              --include-data-dir=angler/res=res \
              --output-dir=build \
              --output-filename=angler-${{ inputs.tag_name }} \
              --deployment \
              --python-flag=no_docstrings \
              --remove-output \
              angler

        - name: Compress
          run: |
            cd build
            tar -czvf angler-${{ inputs.tag_name }}.tar.gz angler-${{ inputs.tag_name }}

        - name: Create release
          uses: softprops/action-gh-release@v2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            files: build/angler-${{ inputs.tag_name }}.tar.gz
            tag_name: ${{ inputs.tag_name }}-linux
            name: ${{ inputs.tag_name }}-Linux
            draft: false
            prerelease: ${{ inputs.pre_release }}
